#main {
  min-width: 796px;
}

.title {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
}

.storylink {
  color: #000000;
  text-decoration: none;
}

.comhead {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 8pt;
  color: #828282;
}

.subtext {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 7pt;
  color: #828282;
}

.comhead a:link, .subtext a:link, .morelink a:link {
  color: #828282;
  text-decoration: none;
}

.votearrow {
  width: 10px;
  height: 10px;
  border: 0px;
  margin: 3px 2px 6px;
  background: url(./images/grayarrow.gif) no-repeat;
}

.spacer {
  height: 5px;
}

.morespace {
  height: 10px;
}

.morelink {
  color: #000000;
  text-decoration: none;
}

.pagetop {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #222222;
  line-height: 12px;
}

.hnname {
  margin-right: 5px;
}

.pagetop a:link {
  color: #000000;
  text-decoration: none;
}

.yclinks {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 8pt;
  color: #828282;
}

form {
  margin-block-end: 1em;
}

a {
  color: #000000;
  text-decoration: none;
}

td {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
}

